# Common
.DS_Store
*.log
.vscode/
.idea/

# Frontend (front/)
front/node_modules/
front/dist/
front/dist-ssr/
front/*.local
front/.env
front/.env.*

# Backend (back/ksa/)
back/ksa/.gradle/
back/ksa/build/
back/ksa/bin/
back/ksa/out/
back/ksa/*.iml
back/ksa/*.ipr
back/ksa/*.iws
back/ksa/src/main/resources/application-*.yaml
back/ksa/src/main/resources/application-*.yml
back/ksa/src/main/resources/application.yaml
back/ksa/src/main/resources/application.yml
